extends ../layouts/default

block variables
	- var pageStylesheet = "/index.css";
	-
		var cardsData = [
			{'title': 'Фритрек и нулевой спринт: Подготовка к работе', 'image': '/images/content/vietnam.jpg', 'text': 'Это было самое начало пути. На этом этапе важно было проникнуться основами и настроиться на учёбу. И, возможно, подумать, как новые знания могут повлиять на ваше будущее.'},
			{'title': '1 спринт: Я — чистый лист', 'image': '/images/content/forest.jpg', 'text': 'На первых этапах мы работали со страхами и сомнениями, которые часто испытывают новички. Один из них — страх перед чистым листом. Это, конечно же, намного сложнее, чем боязнь куска бумаги. Часто за этим ощущением скрываются более глубокие вопросы: с чего начать? а вдруг будет слишком сложно? что, если я не справлюсь?'},
			{'title': '1 спринт: А если не получится?', 'image': '/images/content/hill.jpg', 'text': 'Первый проект — позади! Но это всё ещё самое начало пути. Радость могла быстро померкнуть и смениться ожиданием провала. Или вы, наоборот, могли вдохновиться успехами и поверить в себя.'},
			{'title': '2 спринт: Погоня за идеалом', 'image': '/images/content/iceland.jpg', 'text': 'На этом этапе вы уже достаточно разбирались в основах вёрстки, чтобы понять, как много ещё впереди. Вы могли попытаться погнаться за идеалом и понять, что он недостижим. А, может, вы вовсе и не подвержены перфекционизму и вместо того, чтобы сделать идеально, старались просто сделать.'},
			{'title': '2 спринт: О тех, кто рядом', 'image': '/images/content/portugal.jpg', 'text': 'Всё это время вы были не одиноки (хотя, возможно, иногда и чувствовали, что одни против целого мира). Вас окружали одногруппники, команда сопровождения и просто близкие люди, которым можно пожаловаться, если очередной макет просто так не поддавался. Осваивать что-то новое легче, когда рядом есть единомышленники, не правда ли?'},
			{'title': '3 спринт: Обходные стратегии', 'image': '/images/content/scotland.jpg', 'text': 'На этом курсе вы постоянно решали разные задачи. В какой-то момент вам могло показаться, что решения просто иссякли. Значит, пришло время посмотреть на задачу под другим углом.'},
			{'title': '3 спринт: Когда опускаются руки', 'image': '/images/content/sheep.jpg', 'text': 'Во время учёбы часто возникает чувство, когда не знаешь, за что хвататься. Вроде и проектную пора сдавать, и задачи хочется порешать, и в теории получше разобраться, и жизнь не забыть пожить. В такие моменты очень нужна концентрация. Вспомните, откуда вы её черпали.'},
			{'title': '«Сейчас я здесь»', 'image': '/images/content/switzerland.jpg', 'text': 'Сейчас вы уже очень много знаете о вёрстке. Но это только начало. Во-первых, впереди ещё много материала про «красотищу». Во-вторых, с окончанием курса учёба не заканчивается. Вёрстка — это целый мир. И этот мир постоянно меняется. Познать его полностью не получится, но это тот случай, когда важен сам процесс познания. Ведь часто путь — и есть результат.'}
		]

block content
	header.header
		nav.theme-menu.header__theme-menu
			ul.theme-menu__list
				li.theme-menu__item
						button.theme-menu__button(type='button' data-theme='dark') Темно
				li.theme-menu__item
						button.theme-menu__button(type='button' data-theme='auto' disabled) Авто
				li.theme-menu__item
						button.theme-menu__button(type='button' data-theme='light') Светло
	main.content-section
		include ../components/card/card.pug
		if cardsData.length > 0
			each card in cardsData
				+card(card.title, card.image, card.text)
	script(src='/scripts/like.js')
