@import '../components/card/card';
@import '../components/header/header';
@import '../components/footer/footer';
@import '../components/dialog/dialog';

.card-section {
    width: clamp(23.4375rem, 100vw, 43.75rem);
    margin: auto;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    gap: 50px;
}

@media (width > 375px) {
    .footer__save-button {
        flex-direction: row;
    }
}