.header {
    width: clamp(23.4375rem, 100vw, 43.75rem);
    background-color: var(--background-color);
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    color: var(--main-color);
    font-family: var(--accent-font);
    border: 2px solid var(--main-color);
    margin-top: 100px;
    margin-bottom: 100px;
    padding-top: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);
    padding-bottom: 25px;
    &__logo {
        font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
        padding-bottom: 20px;
    }
    &__headline {
        text-transform: uppercase;
        padding-bottom: 25px;
        font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
    }
}

.theme-menu {
    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 14px;
    }
    &__button {
        text-transform: uppercase;
        font-size: 14px;
        background-color: var(--background-color);
        border: none;
        &:disabled, &:hover {
            opacity: 0.6;
        }
        &:disabled::before {
            content: '▶';
            margin-right: 6px;
        }
    }
}