header.header
	h1.header__logo &lt;/HTML&gt;
		h2.header__headline закрывающий тег
		nav.theme-menu.header__theme-menu
			ul.theme-menu__list
				li.theme-menu__item
						button.theme-menu__button(type='button' data-theme='dark') Темно
				li.theme-menu__item
						button.theme-menu__button(type='button' data-theme='auto' disabled) Авто
				li.theme-menu__item
						button.theme-menu__button(type='button' data-theme='light') Светло