@import '../fonts/fonts';
@import '../styles/variables';
@import '../styles/themes';
@import '../styles/globals';
@import '../styles/animations';

.page {
    min-inline-size: 320px;
    min-block-size: 100dvb;
    font-family: var(--main-font), sans-serif;
    font-variation-settings: 'wght' var(--main-font-weight);
    background-image: var(--background-image);
    background-attachment: fixed;
    background-size: cover;
  }
