block variables

doctype html
html(lang="ru")
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='color-scheme' content='light dark')
    title Закрывающий тег

    //- link(rel='stylesheet' href='./styles/animations.css')

    link(rel="stylesheet", href="/bundle.css")
    link(rel="stylesheet", href=pageStylesheet)
    link(rel="icon", href="/images/favicon.ico", sizes='any')
    link(rel="icon", href="/images/svg/favicon.svg", type='image/svg+xml')
    link(rel="apple-touch-icon", href="/images/apple-touch-icon.png")
    script(src='/scripts/set-theme.js')
  body.page
    block content