:root.theme-light {
  --main-font-weight: 400;
  --accent-font-weight: 700;
  --background-color: #fff;
  --main-color: #000;
  --stroke-color: #fff;
  --hover-text: #fff;
  --icon-filling: #f00;
  --background-image: repeating-linear-gradient(#d3d3d3, transparent 2px),
    repeating-linear-gradient(90deg, #d3d3d3, transparent 2px),
    linear-gradient(#e7e7e7 0.01%, #1a1a1a);
}

:root.theme-dark {
  --main-font-weight: 465;
  --accent-font-weight: 785;
  --background-color: #000;
  --main-color: #00cc14;
  --stroke-color: #000;
  --hover-text: #00cc14;
  --icon-filling: #f00;
  --background-image: repeating-linear-gradient(#000, transparent 2px),
    repeating-linear-gradient(90deg, #000, transparent 2px),
    linear-gradient(#007f0c, #004306);
}

@media (prefers-color-scheme: dark) {

  :root {
    --main-font-weight: 465;
    --accent-font-weight: 785;
    --background-color: #000;
    --main-color: #00cc14;
    --stroke-color: #000;
    --hover-text: #00cc14;
    --icon-filling: #f00;
    --background-image: repeating-linear-gradient(#000, transparent 2px),
      repeating-linear-gradient(90deg, #000, transparent 2px),
      linear-gradient(#007f0c, #004306);
  }
}
