:root {
  --main-font: "Inter", sans-serif;
  --accent-font: "Press Start 2P", system-ui;
  --main-font-weight: 400;
  --accent-font-weight: 700;
  --background-color: #fff;
  --main-color: #000;
  --stroke-color: #fff;
  --hover-text: #fff;
  --icon-filling: #f00;
  --background-image: repeating-linear-gradient(#d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(90deg, #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px),
    linear-gradient(#e7e7e7 0.01%, #1a1a1a);
}
